@CHARSET "ISO-8859-1";

#incisivo #canino #premolar #molar {
 border-collapse: collapse; 
 border: 5px solid #444;
 float: left;
}

#incisivo #canino #premolar #molar {
 padding: 4px;
}

#incisivo #canino #premolar #molar {
 color: white;
 background-color: black;
}

.divisionDetalles {
	margin: 25px;
	padding: 10px;	
	clear: left;
}

.imagenEstatica {
	margin-left: 10px;
	background-position: 75px 150px;
	 	 
}

img.left {
	position:absolute;
	top:400px;	
	right:40px;
}