body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #061C37;
	background: #014D5D url(background.png);  /*fondo*/
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}
 
#page
{
	display: block;
	height:200;
	position: relative;
	overflow: hidden;
	width: 1100px;
}

#logbox   /*cuadro donde va el login*/
{
	text-align:center;
	position:relative;
	margin-top:-15px;
	font-size:15px; /*tamaño letras superiores*/
	margin-left:600px;
	width:500px;
	height: 35px;
	line-height: 35px;
	float:left;
	color:#CEEAEE; 
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#imgbox   /*cuadro donde van las imgs*/
{
	text-align:center;
	position:relative;
	margin-top:30px;
	font-size:15px; /*tamaño letras superiores*/
	margin-left:600px;
	width:50px;
	height: 35px;
	line-height: 35px;
	float:left;
	color:#CEEAEE; 
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}



.topNaviagationLink
{
text-align:center;
position:relative;
margin-top:30px;    
font-size:20px; /*tamaño letras superiores*/
margin-left:-10px;
width:121px;
height: 35px;
line-height: 35px;
float:left;
color:#CEEAEE; 
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.topNaviagationLink a
{
text-decoration:none;
color:#FFFFCC; /*Color letras superiores*/
}

.topNaviagationLink a:hover
{
	text-align:center;
	border-bottom:none;
	color:#F7AB06;  /*amarillo raro del menu*/
	display: block;
	width:121px;
	height: 35px;
	line-height: 35px;
	/*background-image:url(tab.png);*/
}

.leftNaviagationLink
{
	text-align:left;   /*center*/
	position:static;
	margin-top:30px;
	font-size:20px; /*tamaño letras superiores*/
	margin-left:20px;  /*-10px*/
	width:151px;  /*131*/
	height: auto;   /*auto*/
	line-height: 35px;
	float:left;
	color:#CEEAEE;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.leftNaviagationLink a
{
text-decoration:none;
color:#1D538C; /*Color letras superiores*/
}

.leftNaviagationLink a:hover
{
	text-align:left;
	border-bottom:none;
	color:#F7AB06;  /*amarillo raro del menu*/
	display: block;
	width:151px;   /*121px*/
	height: 35px;
	line-height: 35px;
	/*background-image:url(tab.png);*/
}

#mainPicture
{
width:870px;    /*fondo blanco 670 w 345 h*/
height:550px;
background-color:#FFFFFF;
}

#mainPicture
{
width:870px;
height:550px;
background-color:#FFFFFF;
}

#mainPicture .picture
{
	position:relative;
	width:500px;  /*650 dimensiones cuadro img*/
	height:333px; /*325*/
	top:-115px;     /*110px*/
	background-image:url(/images/main.png); /*img delfin*/
	background-repeat:no-repeat;
	margin-left:220px;   /*10*/
}

#headerTitle
{
position:relative;
top:-75px;  /*30 px*/
left:35px;
font-size:36px; /*tamaño fuente titulo*/
color:#CF69FF; 
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext
{
position:relative;
top:-70px;   /*30px*/
left:50px;
font-size:14px;
color:#CF69FF;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

.contentBox
{
width:870px;
height:auto;
background-color:#FFFFFF;
margin-top:10px;
}

.contentBox .innerBox
{
	position:relative;
	width:850px;
	height:auto;
	top:10px;
	margin-left:10px;
	background-image:url(content_back.png);
	background-repeat:repeat-x;
	padding-bottom:35px;
}

.contentTitle
{
font-size:19px;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

#footer {

width: 870px;
height:16px;
background: url(footer.png) repeat-x;  /*no-repeat*/
text-align:center;
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
color:#386172;
padding-top:5px;
}

#footer a
{
text-decoration:none;
font-size:9px;
color:#386172;
}

html, body {
text-align: left;
}
p {
	text-align: left;
	font-size: 14px;
} 
